.card {
 width: 323px;
 border-radius: 12px;
 position: relative;
 display: flex;
 justify-content: center;
}

.card__name {
    position: absolute;
    top: 15px;
    margin: 0;
}

.card__image {
  width: 100%;
  height: 325px;
  object-fit: cover;
}