 .header {
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
 }

 .header__logo {
    margin-right: 24px;
 }

 .header__avatar {
  width: 40px;
  height: 40px;
}

 .header__date-and-location {
  margin: 0;
  margin-right: auto;
  font-size: 20px;
}

 .header__add-clothes-btn {
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

 .header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
 }

 .header__username {
    margin: 0;
 }