.footer {
 width: 1358px;
height: 20px;
top: 1040px;
left: 40px;
color: #000000;
font-size: 16px;
font-family: "Cabinet Grotesk", Arial, sans-serif;
display: flex;
justify-content: space-between;
align-items: center;
}

.footer__text {
  margin: 0;
}

.footer__year {
  margin: 0;
}